@font-face {
  font-family: "Noto serif";
  src: url(fonts/noto-serif/notoserif-variablefont_wdthwght-webfont.woff)
    format("woff");
  src: url(fonts/noto-serif/notoserif-variablefont_wdthwght-webfont.woff2)
    format("woff2");
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Noto Serif;
  background-color: #f9faf8;
  margin: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
}

main {
    padding: 1rem;
    display: flex;
}

:root {
  --white: #fff;
  --navy: #003049;
}

.hero-section {
    position: relative;
    height: max-content;
}

.diagonal-bg {
  position: absolute;
  z-index: 0;
  background-color: var(--navy);
  height: 100%;
  width: 200vw;
  transform: rotateZ(-25deg);
  top: -50%;
  left: -50%;
}

.hero {
  position: relative;
  margin: 0 auto;
  height: auto;
}

.portrait-card {
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin: 1rem;
    /* height: max-content; */
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.portrait-name {
  color: var(--white);
  font-size: clamp(2rem, 20vw, 5rem);
  font-weight: 200;
  position: absolute;
  z-index: 2;
  left: 1.5rem;
  bottom: 0;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.7);
  line-height: 1;
  margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
    .diagonal-bg {
        transform: rotateZ(-10deg);
    }
}
